.nobottompadding {
    padding-bottom:0px;
}
.notoppadding {
    padding-top:0px;
}
.center-align {
    margin:0 auto;
}

.padding-top-30 {
    padding-top:30px;
}

.paddding-bottom-30 {
    padding-bottom:30px;
}
.padding-left-20 {
    padding-left:15px;
}

.padding-right-20 {
    padding-right:15px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-bottom-30 {
    marign-bottom:30;
}
.padding-bottom-40 {
    padding-bottom:40px;
}
.padding-top-40 {
    padding-top:40px;
}
.margin-top-50 {
    margin-top:50px;
}
#logo > a.retina-logo > img, #logo > a.standard-logo > img {
    width:85%;
    margin:0 auto;
}
.padding-left-50 {
    padding-left:50px;
}

.padding-right-50 {
    padding-right:50px;
}

.text-white {
    color:#FFF;
}

.background-white {
    background:#FFF;
}

.btn-hover-2:hover {
    background:#F2EEFF;
    color:#333;
    text-shadow:none;
}

.text-black {
    color:#333333;
}

.border-black {
    border:1px solid #333;
}

.text-green {
    color:#019F8E;
}
.text-light-green {
    color:#51A697;
}
.text-lighter-green {
    color:#B6BC25;
}
.text-gray {
    color:#555555;
}

.text-orange {
    color:#FF7A00;
}
.btn-custom {
    background:#FF7A00;
}
.btn-custom:hover {
    background:#FF6A04;
    text-shadow:none;
}
.lh-13 {
    line-height:13px;
}
.lh-25 {
    line-height:25px !important;
}
.phone-slug-btn {
    height:55px;
    padding-top:8px;
}


.text-dark-blue {
    color:#00154E;
}

.border-left-gray {
    border-left: 1px solid #555555;
}

.text-light-gray {
    color:#797F8C;
}
.text-price {
    color:#FFFFFF;
    font-size:88px;
}
.text-dollar {
    color:#FFF;
    font-size:36px;
}
.text-phone {
    color:#333333;
    font-size:36px;
}

#wrapper {
    margin-top:-100px;
    box-shadow:none;
    background:none;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    background:url(images/background-cover.jpg) top center no-repeat fixed #FFF;
    background-size:cover;
    border-top:100px solid #fff;
}

#primary-menu ul li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight:600;
    letter-spacing:0;
}
.no-text-shadow {
    text-shadow:none;
}
h1 {
    font-size:72px;
    line-height:70px;
}

h2.font-72 {
    font-size:72px;
}
h2 {
    font-size:64px;
}

h2.font-56 {
    font-size:56px;
}

h2.font-48 {
    font-size:48px;
}
h3 {
    font-size:48px;
}

h4 {
    font-size:42px;
}

h5 {
    font-size:36px;
}

h6 {
    font-size:32px;
}
h6.font-24 {
    font-size:24px;
}
h6.font-21 {
    font-size:21px;
}

p {
    font-size: 18px;
    color:#555555;

}
.lh-44 {
    line-height:44px;
}
.font-42 {
    font-size:42px;
}
.font-32 {
    font-size:32px;
}
.font-36 {
    font-size:36px;
}

.font-24 {
    font-size:24px;
}

.font-21 {
    font-size:21px;
}
.font-20 {
    font-size:20px;
}
.font-18 {
    font-size:18px;
}
.font-16 {
    font-size:16px;
}
.font-14 {
    font-size:14px;
}

.text-shadow {
    text-shadow: 2px 2px 6px #00154E;
}
.text-shadow-2 {
    text-shadow: 2px 2px 5px #00154E;
}

.text-shadow-3 {
    text-shadow: 2px 2px 4px #00154E;
}



#primary-menu > ul:nth-child(1) > li:nth-child(1) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(1):hover > a {
    color:#FF7A00;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(2):hover > a {
    color:#B6BC25;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(3):hover > a {
    color:#019F8E;
}

#primary-menu > ul:nth-child(2) > li > a {
    color:#555;
}
#primary-menu > ul > li:hover > a {
    text-decoration:underline;
}

#max-width-slider {
    max-width:100%;
}

.slide-rectangle {
    background: rgba(255,255,255,0.75);
    border-radius: 8px;
    max-width:798px;
    height:161px;
    margin:0 auto;
    margin-bottom:30px;
    padding:15px;

}
.star {
    color: #FFD700;
    text-shadow: 0px 2px 4px 0px rgba(0,21,78,0.80);
    font-size:35px;
}
.star-set {
    line-height:30px;
}
.owl-carousel .owl-nav [class*=owl-] {
    top:38%;
}
.phone-slug {
    background:#B6BC25;
}
#meet-the-team {
    background:#F0EDE9;
}
.plus-sign {
    position:relative;
    top:25.5%;
    font-size:72px;
    color:#FFF;
    font-weight:600;
}
.owl-carousel .owl-nav [class*=owl-] {
    background:#51A697;
    color:#FFF;
    border:1px solid #FFF;
}

@media (max-width:1199px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:40%;
    }
}
@media (max-width:991px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:38%;
    }
    .plus-sign {
        top:18%;
    }
}

@media (max-width:767px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:39%;
    }
}
@media (max-width:479px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:36%;
    }
}



