.nobottompadding {
    padding-bottom:0px;
}
.notoppadding {
    padding-top:0px;
}
.center-align {
    margin:0 auto;
}
.pt-sans {
    font-family: 'PT Sans', sans-serif;
}
.lh-27 {
    line-height:27px !important;
}
.padding-top-30 {
    padding-top:30px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.padding-bottom-20 {
    padding-bottom:20px;
}
.padding-bottom-50 {
    padding-bottom:50px;
}

.paddding-bottom-30 {
    padding-bottom:30px;
}
.padding-left-15 {
    padding-left:15px;
}
.padding-left-30 {
    padding-left:30px;
}
.padding-right-30 {
    padding-right:30px;
}
.margin-bottom-50 {
    margin-bottom:50px;
}

.padding-left-70 {
    padding-left:70px;
}

.padding-right-70 {
    padding-right:70px;
}

.padding-right-15 {
    padding-right:15px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-bottom-20 {
    margin-bottom:20px;
}
.margin-bottom-30 {
    margin-bottom:30px;
}
.margin-top-30 {
    margin-top:30px !important;
}
.padding-bottom-40 {
    padding-bottom:40px;
}
.padding-bottom-30 {
    padding-bottom:30px;
}
.padding-top-50 {
    padding-top:50px;
}
.padding-top-40 {
    padding-top:40px;
}
.margin-top-50 {
    margin-top:50px;
}
#logo > a.retina-logo > img, #logo > a.standard-logo > img {
    width:85%;
    margin:0 auto;
}
.padding-left-50 {
    padding-left:50px;
}
.display-479 {
    display:none;
}

#bfpublish {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.padding-right-50 {
    padding-right:50px;
}

.text-white {
    color:#FFF;
}

.background-white {
    background:#FFF;
}

.btn-hover-2:hover {
    background:#F2EEFF;
    color:#333;
    text-shadow:none;
}

.text-black {
    color:#333333;
}

.border-black {
    border:1px solid #333;
}

.text-green {
    color:#019F8E;
}

.text-light-green {
    color:#51A697;
}
.text-lighter-green {
    color:#B6BC25;
}
.text-gray {
    color:#555555 !important;
}
.underline-hover:hover {
    text-decoration:underline !important;
}

.text-orange {
    color:#FF7A00;
}
.btn-custom {
    background:#FF7A00;
}
.btn-custom:hover {
    background:#FF6A04;
    text-shadow:none;
}
.lh-13 {
    line-height:13px !important;
}
.lh-15 {
    line-height:15px !important;
}
.lh-20 {
    line-height:20px !important;
}
.lh-25 {
    line-height:25px !important;
}
.phone-slug-btn {
    height:55px;
    padding-top:8px;
}


#top-footer .col-md-4 {
    padding-top:30px;
    padding-bottom:30px;
}
.text-dark-blue {
    color:#00154E;
}

.row.flex {

}

.border-left-gray {
    border-left: 1px solid #555555;
}

.text-light-gray {
    color:#797F8C !important;
}
.text-price {
    color:#FFFFFF;
    font-size:88px;
}
.lh-20 {
    line-height:20px !important;
}
.text-dollar {
    color:#FFF;
    font-size:36px;
}
.text-phone {
    color:#333333;
    font-size:36px;
}

#wrapper {
    margin-top:-100px;
    box-shadow:none;
    background:none;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    background:url(images/background-cover.jpg) top center no-repeat fixed #FFF;
    background-size:cover;
    border-top:100px solid #fff;
}
.background-gray {
    background:#F0EDE9;
}
.background-gray:hover {
    background:#E1DEDA;
}

#primary-menu ul li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight:600;
    letter-spacing:0;
    text-transform:none;
}
.no-text-shadow {
    text-shadow:none;
}
h1 {
    font-size:72px;
    line-height:70px;
}

h2 {
    font-size:64px;
}
h2.font-72 {
    font-size:72px;
}
h2.font-56 {
    font-size:56px;
}

h2.font-48 {
    font-size:48px;
}
h3 {
    font-size:48px;
}

h4 {
    font-size:42px;
}

h5 {
    font-size:36px;
}


h6 {
    font-size:32px;
}
h6.font-28 {
    font-size:28px;
}
h6.font-24 {
    font-size:24px;
}
h6.font-21 {
    font-size:21px;
}

p {
    font-size: 18px;
    color:#555555;

}
.lh-44 {
    line-height:44px;
}
.font-42 {
    font-size:42px;
}
.font-32 {
    font-size:32px;
}
.font-36 {
    font-size:36px;
}

.font-24 {
    font-size:24px;
}

.font-21 {
    font-size:21px;
}
.font-20 {
    font-size:20px;
}
.font-18 {
    font-size:18px;
}
.font-16 {
    font-size:16px;
}
.text-underline {
    text-decoration:underline;
}
.font-14 {
    font-size:14px !important;
}

.text-shadow {
    text-shadow: 2px 2px 6px #00154E;
}
.text-shadow-2 {
    text-shadow: 2px 2px 5px #00154E;
}

.text-shadow-3 {
    text-shadow: 2px 2px 4px #00154E;
}
.vertical-align {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.text-shadow-4 {
    text-shadow: 2px 2px 6px #000000;
}

#two-locations {
    padding-top:195px;
    padding-bottom:195px;
}

#footer {
    min-height:80px;
    padding-left:30px;
    padding-right:30px;
}
#footer .col-sm-10, #footer .col-sm-2 {
    min-height:80px;
    height:80px;
}
.swiper-container {
    background-image:none !important;
}

/***** SUMMER SPECIALS CSS WITH QUERIES *****/
.specials-1 {
    background: #019F8E;
    color:#019F8E
}
.specials-2 {
    background: #FF7A00;
    color:#FF7A00
}

.specials-3 {
    background: #00154E;
    color:#00154E;
}
.specials-row p {
    font-size:18px;
    color:#797F8C;
    margin-bottom:0px;
    line-height:25px !important;
    margin-top:20px;
}
.specials-label {
    font-size:14px;
    color:#797F8C;
}
.specials-save {
    font-size:18px;
    text-transform:uppercase;
    background:none;
}
#summer-specials .col-md-4 {
    border-radius:8px;
    padding:0;
    margin-left:20px;
    margin-right:20px;
    height:452px;
    background:#FFF;
    margin-bottom:50px;
}
#summer-specials .container {
    padding-left:0;
    padding-right:0;
}
.specials-row {
    display:flex;
    text-align:center;
}
.specials-top {
    height:196px;
    padding-top:15px;
    border-radius:8px 8px 0px 0px;
}
.specials-circle {
    position:relative;
    border:7px solid #FFF;
    width:146px;
    height:146px;
    border-radius:50%;
    top:-73px;
    margin:0 auto;
    margin-bottom:-73px;
}
.specials-bottom {
    padding-top:10px;
    padding-left:12.5px;
    padding-right:12.5px;
}
.specials-save {
    font-size:18px;
}
.price {
    font-size:88px;
    color:#FFF;
}
.dollar {
    font-size:36px;
    color:#FFF;
    top:-18px;
    position:relative;
}
.specials-row h5 {
    font-size:32px;
    color:#FFF;
    font-weight:600;
}


@media (max-width:1199px) {
    .specials-row p {
        margin-top:10px;
    }
}
@media (max-width:991px) {
    .specials-row {
        display:inherit;
    }
    #summer-specials .col-md-4 {
        max-width:400px;
        margin:0 auto;
        margin-bottom:50px;
    }
}

/******* END SPECIALS CSS *********/


#primary-menu > ul > li:hover > a {
    text-decoration:underline;
}

#max-width-slider {
    max-width:100%;
}

.slide-rectangle {
    background: rgba(255,255,255,0.75);
    border-radius: 8px;
    max-width:798px;
    height:161px;
    margin:0 auto;
    margin-bottom:30px;
    padding:15px;

}
.star {
    color: #FFD700;
    text-shadow: 0px 2px 4px 0px rgba(0,21,78,0.80);
    font-size:35px;
}
.star-set {
    line-height:30px;
}
.owl-carousel .owl-nav [class*=owl-] {
    top:38%;
}
.phone-slug {
    background:#B6BC25;
}
#meet-the-team {
    background:#F0EDE9;
}
.plus-sign {
    position:relative;
    top:25.5%;
    font-size:72px;
    color:#FFF;
    font-weight:600;
}
.owl-carousel .owl-nav [class*=owl-] {
    background:#51A697;
    color:#FFF;
    border:1px solid #FFF;
}
.lh-60 {
    line-height:60px;
}

#content {
    background: none;
}
#services {
    padding-bottom:80px;
}

#patient-forms {
    background:#FFF;
    border:1px solid #979797;
}
#services, #patient-reviews {
    background:#F0EDE9;
}

#services .ui-helper-reset {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     line-height: 1.3;
     text-decoration: none;
     font-size: 100%;
     list-style: none;
 }

#services .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0;
    padding: .5em 0;
    min-height: 0;
    border-bottom: 1px solid #555555;
    color: #019F8E;
    font-size:21px;
    font-weight:600;
}
.accordian-p {
    font-size:14px;
    color:#555;
    margin-bottom:20px;
}

#services .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.p-border-bottom {
    border-bottom:1px solid #555;
    margin-bottom:0px;
    padding-bottom:10px;
}

#services .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


.ui-accordion-content {
    max-height: 500px;
    transition: .5s max-height ease;
}
.folded {
    max-height: 0px;
}
#services .ui-accordion .ui-accordion-content {
    margin: .5em 0;
    overflow: auto;
    border: none;
    font-size: 95%;
}

#services .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.display-991 {
    display:none;
}
.display-767 {
    display:none;
}
.display-640 {
    display:none;
}
a:hover {
    text-decoration:none;
}
.underline-hover:hover{
    text-decoration:underline;
    color:#FFF;
}
.underline-hover {
    color:inherit;
    text-decoration:none;
}

a:hover {
    cursor:pointer;
}
a {
    color:inherit;
}
#primary-menu > ul:nth-child(2) > li:nth-child(2) > a {
    color:#B6BC25;
}

#primary-menu > ul:nth-child(2) > li:nth-child(3) > a {
    color:#019F8E;
}
#primary-menu > ul:nth-child(1) > li:nth-child(1) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(1):hover > a {
    color:#FF7A00;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(2):hover > a {
    color:#B6BC25;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a > div, #primary-menu > ul:nth-child(1) > li:nth-child(3):hover > a {
    color:#019F8E;
}

/*** MODAL CSS ***/

.team__modal-pic > div {
    width:80%;
    margin-bottom:10px;
    margin:0 auto;
    margin-bottom:10px;
}
.team__modal-pic p {
    line-height:28px;
    margin-bottom:15px;
}
.iportfolio .portfolio-image:hover {
    cursor:pointer;
}

button.close {
    font-size:50px;
    margin-top:-10px;
    color:#000;
    opacity:1;
    border-bottom:0px;
}

.modal-header .close {
    margin-top:-10px;
}
#contact-modal .modal-dialog {
    background:#FFF;
    border-radius:5px;
}
h4.modal-title {
     font-size:22px;
 }
.modal h5 {
    font-size:14px;
    font-weight:400;
}
#mail-form > button {
    background:#B6BC25;
}
#mail-form > button:hover {
    background:#AEB323;
}


/*** MEDIA QUERIES ***/

@media (max-width:1199px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:40%;
    }
    #header-wrap .container {
        padding-left:10px;
        padding-right:10px;
        width:100%;
    }
    #primary-menu ul li > a {
        padding-left:7px;
        padding-right:7px;
    }
    #logo > a.retina-logo > img, #logo > a.standard-logo > img {
        width:82%;
    }
}
@media (max-width:991px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:38%;
    }
    .plus-sign {
        top:18%;
    }
    .display-991 {
        display:inherit;
    }
    .hide-991 {
        display:none;
    }
    #primary-menu-trigger {
        font-size:35px;
        left:25px;
    }
    #header-wrap .container {
        width:inherit;
        padding-left:15px;
        padding-left:15px;
    }
    #mobile-top-slide h1 {
        line-height:60px;
        font-size:60px;
    }
    #meet-the-doctors p {
        color:#FFF !important;
    }
    #top-footer img {
        width:45%;
    }
    .team__modal-pic img {
        display:none;
    }
}

@media (max-width:767px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:39%;
    }
    .hide-767 {
        display:none;
    }
    #mobile-top-slide h1 {
        line-height:40px;
    }
    .display-767 {
        display:inherit;
    }

    #phone-slug div.col-sm-6.tright, #phone-slug-3 div.col-sm-6.tright,  #phone-slug-2 div.col-sm-6.tleft {
        text-align:center !important;
    }
    #phone-slug div.col-sm-6.tleft.border-left-gray, #phone-slug-3 div.col-sm-6.tleft.border-left-gray, #phone-slug-2 div.col-sm-6.tright {
        text-align:center !important;
        margin-bottom:15px;
    }
    #phone-slug div.col-sm-6.tright > div, #phone-slug-3 div.col-sm-6.tright > div {
        margin-bottom:15px;
    }
    #mobile-top-slide h1 {
        line-height:40px;
        font-size:36px;
    }
    #footer p {
        text-align:center !important;
    }
    #footer .col-sm-10, #footer .col-sm-2 {
        text-align:center !important;
        margin-bottom:0px;
        height:50px;
        min-height:50px;
    }
    .col_full {
        margin-bottom:0px !important;
    }
    #patient-forms div.col-sm-6.tright.padding-right-30 {
        text-align:center !important;
        margin-bottom:20px;
        padding-left:15px;
        padding-right:15px;
    }
    #patient-forms div.col-sm-6.tleft.border-left-gray.padding-left-30 {
        text-align:center !important;
        border-left:none;
        padding-left:15px;
        padding-right:15px;
    }
    #patient-forms div.col-sm-6.tright.padding-right-30 > a, #patient-forms div.col-sm-6.tleft.border-left-gray.padding-left-30 > a {
        padding-left:10px;
        padding-right:10px;
    }
    #patient-forms p {
        text-align:center !important;
    }
}
@media (max-width:640px) {
    #mobile-top-slide h1 {
        line-height:30px;
        font-size:26px;
    }
    #phone-slug p, #phone-slug-3 p {
        line-height:30px;
        margin-bottom:20px !important;
    }
    .display-640 {
        display:inherit;
    }
    #phone-slug p, #phone-slug-3 p {
        line-height:30px;
        margin-bottom:20px !important;
    }
}
@media (max-width:479px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top:36%;
    }
    #no-insurance p:nth-child(5), #no-insurance p:nth-child(6) {
        font-size:22px;
    }
    section h2 {
        font-size:40px !important;
    }
    #primary-menu-trigger {
        left:-10px;
    }
    #meet-the-doctors h2 {
        font-size:36px !important;
    }
    #summer-specials h2 {
        font-size:40px;
    }
    #patient-reviews h2 {
        font-size:40px;
    }
}

@media (max-width:349px) {
    #primary-menu-trigger {
        left: 0px;
    }

}

